p{
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  color:blue;
  border: 2px solid black;
  border-radius: 2px;
}

ul{
  border: 2px solid blue;
}

li{
  color: red;
  padding: 4px;
  background-color: yellow;
  margin: auto;
  border: 1px dotted blue;
}

h2{
  color:  Green;
  font-size: 60px;
}

div{
  background-color: skyblue;
}
